@import '../../../assets/styles/colors';
@import '../../../assets/styles/fonts';
@import '../../../assets/styles/typography';
@import '../../../assets/styles/mixins';


@include render-color;

.body_00 {
  font-family: $primary-reg;
  font-size: $level4;
}

.body_01 {
  font-family: $primary-reg;
  font-size: $level3;
}

.body_02 {
  font-family: $primary-reg;
  font-size: $level2;
}

.caption_00 {
  font-family: $primary-medium;
  font-size: $level3;
}

.caption_01 {
  font-family: $primary-medium;
  font-size: $level2;
}

.caption_02 {
  font-family: $primary-medium;
  font-size: $level1;
}

.footnote {
  font-family: $primary-reg;
  font-size: $level1;
}

.tagline {
  font-family: $primary-SemiBold;
  font-size: $level4;
  @include media(m-device) {
    font-size: $level2;
  }
}

.button_small {
  font-family: $primary-medium;
  font-size: $level2;
}

.button_default {
  font-family: $primary-medium;
  font-size: $level3;
}

.button_large {
  font-family: $primary-medium;
  font-size: $level4;
}

.label {
  font-family: $primary-SemiBold;
  font-size: $level3;
}


.hint {
  font-family: $primary-medium;
  font-size: $level2;
}

