@import '../../../../assets/styles/colors';
@import '../../../../assets/styles/fonts';
@import '../../../../assets/styles/mixins';
@import '../../../../assets/styles/typography';

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  max-width: 1140px;
  margin: 0 auto;
  box-sizing: border-box;
  

  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 76px;

    > h1 {
      text-align: center;
    }

    &__primary {
      color: $brand-primary;
      margin-bottom: 20px
    }


  }

}


