@import '../../../../../assets/styles/colors';
@import '../../../../../assets/styles/fonts';
@import '../../../../../assets/styles/mixins';
@import '../../../../../assets/styles/typography';

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80vw;
  height: 512px;
  margin: 128px auto 128px auto;
  padding: 80px;
  border-radius: 24px;
  background-color: $brand-secondary-muted;
  @include media(m-device) {
    flex-direction: column;
    justify-content: space-evenly;
  }

  &__left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;

    &__images {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      &__box {
        z-index: 12;
        width: 393px;
        @include media(m-device) {
          width: 224px;
          height: 170px;
        }
      }

      &__card {
        position: absolute;
        top: 54px;
        left: 50px;
        z-index: 11;
        width: 300px;
        transition: all 1000ms ease-in-out;
        @include media(m-device) {
          display: none;
        }

        &__active {
          transition: all 1000ms ease-in-out;
          transform: translateX(80px);
        }

      }
    }


  }

  &__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    @include media(m-device) {
      align-items: center;
      width: 70vw;

    }

    &__txt {
      margin: 16px 0 16px 0;
      @include media(m-device) {
        text-align: center;
      }
    }

    & > h2 {
      color: $txt-primary;
      @include media(m-device) {
        text-align: center;
      }
    }


  }

}

