@import '../../../../assets/styles/colors';
@import '../../../../assets/styles/fonts';
@import '../../../../assets/styles/mixins';
@import '../../../../assets/styles/typography';

.spending_way {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 457px;
  max-width: 100vw;
  height: 496px;
  padding: 24px;
  background-color: $brand-secondary-muted;
  @include border-radius(24px);


  &__cta {
    display: flex;
    align-items: center;
    width: 100%;
    height: 72px;
    padding: 24px;
    @include border-radius(8px);
    background-color: $white;
    background-image: url("/icons/chevron-right.svg");
    background-repeat: no-repeat;
    background-position: 95% center;
  }
}
