@import '../../../assets/styles/colors';

%button-shared {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  border: none;
  border-radius: 24px;
  color: $white;
  cursor: pointer;
}

.small {
  width: 97px;
}

.medium {
  width: 162px;
}

.large {
  width: 250px;
}


.primary {
  @extend %button-shared;
  background-color: $primary;
}

.secondary {
  @extend %button-shared;
  background-color: $secondary;
}

.disabled {
  @extend %button-shared;
  cursor: default;
}


