@import '../../../assets/styles/colors';
@import '../../../assets/styles/fonts';
@import '../../../assets/styles/mixins';
@import '../../../assets/styles/typography';


%button-shared {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  padding: 12px 0 12px 0;
  border: none;
  @include border-radius(6px);
  font-family: $primary-medium;
  font-size: $level3;
  color: $white;
  cursor: pointer;
  outline: none;
}

.small {
  width: 95px;
}

.medium {
  width: 205px;
}

.large {
  width: 360px;
}

.mobile_full_width {
  width: 100%;
}


.primary {
  @extend %button-shared;
  @include transition;
  background-color: $brand-primary;


  &:hover {
    background-color: lighten($color: $brand-primary, $amount: 10%);
  }

  &:active {
    background-color: darken($color: $brand-primary, $amount: 10%);
  }

  &:disabled {
    background-color: lighten($color: $brand-primary, $amount: 15%);
  }
}

.primary_muted {
  @extend %button-shared;
  @include transition;
  color: $brand-primary;
  background-color: $brand-primary-muted;


  &:hover {
    background-color: darken($color: $brand-primary-muted, $amount: 10%);
  }

  &:active {
    background-color: darken($color: $brand-primary-muted, $amount: 10%);
  }

  &:disabled {
    background-color: lighten($color: $brand-primary-muted, $amount: 15%);
  }
}

.secondary {
  @extend %button-shared;
  @include transition;
  background-color: $ui-quaternary;
  color: $txt-primary;

  &:hover {
    background-color: darken($color: $ui-quaternary, $amount: 5%);
  }

  &:active {
    background-color: darken($color: $ui-quaternary, $amount: 5%);
  }

  &:disabled {
    color: darken($color: $ui-quaternary, $amount: 10%);

  }
}

.tertiary {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  padding: 12px 24px;
  border: none;
  background-color: $ui-transparent;
  color: $brand-primary;
  font-family: $primary-SemiBold;
  font-size: $level3;
  outline: none;

  &:hover {
    text-decoration: underline;
  }

  &:active {
    color: darken($color: $brand-primary, $amount: 10%);
    text-decoration: underline;
  }

  &:disabled {
    color: lighten($color: $brand-primary, $amount: 40%);
  }
}


.disabled {
  @extend %button-shared;
  cursor: default;
}

.loading {
  opacity: 0.5;
}


.spinner {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}


.icon {
  vertical-align: middle;
  margin-right: 4px;
}



