@import '../../../../../assets/styles/colors';
@import '../../../../../assets/styles/fonts';
@import '../../../../../assets/styles/mixins';


.voucher {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 80vw;
  max-width: 1140px;
  min-height: 939px;
  margin: 0 auto;
  padding: 96px 0 96px 0;
  overflow: hidden;
  @include media(m-device) {
    width: 90vw;
    padding: 48px 0 48px 0;
    height: 614px;


  }

  &__content {
    width: 100%;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, 229px);
    grid-gap: 33px;

    &__slider {
      display: flex;
      width: 80vw;
      height: 394px;
    }

    &__card {
      display: flex !important;
      justify-content: center;
      align-items: center;
      width: 229px;
      height: 341px;
      padding: 19px;
      border-radius: 12px;
      box-shadow: 12px 12px 48px 0 rgba(163, 175, 194, 0.18);
      border: solid 2px $ui-quaternary;
      background-color: $white;

      & > span {
        font-family: $primary-medium;
        font-size: 16px;
        color: $orange;
      }

      @include media(m-device) {
        height: 420px;
      }
    }


    &__cta {
      background-color: $orange;
      width: 112px;

      &:hover {
        background-color: lighten($color: $orange, $amount: 10%);
      }

    }


  }


}