@import '../../../../assets/styles/colors';
@import '../../../../assets/styles/typography';
@import '../../../../assets/styles/fonts';
@import '../../../../assets/styles/mixins';

.custom {
  display: flex;
  flex-direction: column;
  width: 614px;
  height: fit-content;


}

.modal {
  display: flex;
  flex-direction: column;


  &__form {
    width: 100%;

    &__radio {
      font-family: $primary-medium;
      font-size: 14px;
      letter-spacing: normal;
      color: $ui-primary-2
    }

    &__input {
      margin: 21px 0 21px 0;
    }


  }

  & > h5 {
    font-size: 20px;
  }

  & > p {
    font-size: 14px;
    margin: 9px 0 24px 0;
  }

  &__btn__container {
    display: flex;
    justify-content: flex-end;
    margin-top: 32px;


  }

}



