@import '../../../../../../assets/styles/colors';
@import '../../../../../../assets/styles/fonts';
@import '../../../../../../assets/styles/mixins';
@import '../../../../../../assets/styles/typography';


.slide_one {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  height: 464px;
  width: 100%;

  @include media(m-device) {
    width: 312px !important;
    height: 374px;
  }


  > h2 {
    margin-bottom: 16px;
    text-align: center;
  }

  > p {
    text-align: center;

  }


}


