%button-shared {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 150px;
  height: 40px;
  border-radius: 8px;
  cursor: pointer;
}

.default {
  @extend %button-shared;
}

.primary {
  @extend %button-shared;
  background-color: red;
}

.secondary {
  @extend %button-shared;
  background-color: green;
}

.disabled {
  @extend %button-shared;
  cursor: default;
}

