@import './src/assets/styles/colors';


%button-shared {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  border: none;
  border-radius: 24px;
  color: $white-color;
  cursor: pointer;
}


.default {
  @extend %button-shared;
}


.primary {
  @extend %button-shared;
  background-color: $primary-color;
}

.secondary {
  @extend %button-shared;
  background-color: $secondary-color;
}

.disabled {
  @extend %button-shared;
  cursor: default;
}

.small {
  width: 97px;
}

.medium {
  width: 162px;
}

.large {
  width: 250px;
}

