@import '../../../../../assets/styles/colors';
@import '../../../../../assets/styles/fonts';
@import '../../../../../assets/styles/mixins';
@import '../../../../../assets/styles/typography';


.divider {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 32px;
  margin-bottom: 50px;
  @include media(m-device) {
    flex-direction: column;
    margin-top: 32px;
  }

  &:before {
    position: absolute;
    width: 100%;
    content: '';
    border-top: 1px solid $background-2;
    top: -42px;
    @include media(m-device) {
      top: unset;
      bottom: -38px;
    }
  }


  & > h4 {
    text-align: center;
    @include media(m-device) {
      margin-bottom: 24px;
    }
  }


  .logo {
    display: flex;
    cursor: pointer;

    > a {
      margin-left: 10px;
    }


  }


}
