@import '../../../../../assets/styles/colors';
@import '../../../../../assets/styles/mixins';
@import '../../../../../assets/styles/typography';
@import '../../../../../assets/styles/fonts';


.view {
  display: flex;
  margin-left: 16px;

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px;
    width: 48px;
    height: 48px;
    border-radius: 8px;
    border: solid 2px $ui-quaternary;
    cursor: pointer;

    &__active {
      background-color: $ui-primary;
      border: solid 2px $ui-primary;

    }
  }
}

