@import '../../../assets/styles/colors';
@import '../../../assets/styles/mixins';
@import '../../../assets/styles/typography';
@import '../../../assets/styles/fonts';

.documents {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 150px;

  &__desc {
    margin: 16px auto 72px auto;
    font-family: $primary-reg;
    font-size: 16px;
    text-align: center;
    color: $ui-primary;

  }

  &__download {
    display: flex;
    justify-content: space-between;
    width: 750px;
    height: 64px;
    margin: 24px auto 24px auto;
    padding: 20px 24px;
    border-radius: 8px;
    border: solid 2px $ui-quaternary;
    background-color: white;
    cursor: pointer;

    & > p {
      font-family: $primary-medium;
      font-size: 16px;
      font-weight: 500;
      color: $ui-primary;
    }


  }

  &__btn__container {
    display: flex;

    &__custom {
      background-color: $white !important;
      font-size: 14px !important;
    }

  }


}