@import '../../../assets/styles/colors';
@import '../../../assets/styles/fonts';
@import '../../../assets/styles/mixins';
@import '../../../assets/styles/typography';


.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 142px 0 48px 0;
  @include media(m-device) {
    margin: 56px 0 56px 0;
  }


  &__title {
    color: $brand-primary;
  }

  &__subtitle {
    color: $ui-primary
  }
}
