@import '../../../assets/styles/colors';
@import '../../../assets/styles/fonts';
@import '../../../assets/styles/mixins';
@import '../../../assets/styles/typography';


.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  @include media(m-device) {
    padding: 24px 24px 24px 24px;
  }


  .banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    padding: 97px 0 97px 0;
    background-color: $brand-secondary-muted;

    @include media(m-device) {
      height: 100%;
    }

    .icons__container {
      position: absolute;
      margin: auto;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 1140px;
      height: 554px;

      &__relative {
        position: relative;
      }

    }


    .arrow {
      position: absolute;
      bottom: 50px;
      height: 24px;
      width: 24px;
      cursor: pointer;
    }


    .sphere_blue_left {
      position: absolute;
      top: 84px;
      left: -97px;
      width: 40px;
      height: 40px;
      @include hide-on-m-device;
    }

    .sphere_blue_right {
      position: absolute;
      top: 410px;
      right: -115px;
      width: 40px;
      height: 40px;
      @include hide-on-m-device;
    }


    &__gift_left {
      position: absolute;
      top: 74px;
      left: -50px;
      width: 126px;
      height: 122px;
    }

    &__gift_small {
      position: absolute;
      top: 365px;
      left: 76px;
      width: 34px;
      height: 32px;
      @include hide-on-m-device;

    }

    &__gift_right {
      position: absolute;
      top: 374px;
      right: -70px;
      width: 152px;
      height: 147px;
    }

    &__sphere_green {
      position: absolute;
      top: 478px;
      left: 37px;
      width: 42px;
      height: 42px;
      @include hide-on-m-device;

    }

    .sphere_yellow_right {
      position: absolute;
      top: 150px;
      right: -73px;
      width: 24px;
      height: 24px;
      @include hide-on-m-device;

    }


    &__content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 400px;

      > h1 {
        width: 554px;
        height: 168px;
        text-align: center;
        vertical-align: middle;
        line-height: 1.17;
        color: $ui-primary;
        @include media(m-device) {
          width: 264px;
        }
      }

      &__dropdown {
        @include media(m-device) {
        }
      }

      &__btn {
        top: 409px;
        @include media(m-device) {
          top: 65%;
          width: 264px;
        }
      }

    }


  }

}

// arrow animation
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(-5px);
  }
}