@import '../../../assets/styles/colors';

@mixin label-color($color) {
  background-color: $color;
}

@mixin circle-color($color) {
  border: 2px solid $color;
}


.circle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 76px;
  height: 76px;
  border-radius: 50%;

  .image {
    width: 85%;
    height: 85%;
    border-radius: 50%;
  }


}

.label {
  position: absolute;
  top: 2%;
  left: 76%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 126%;
  height: 30%;
  border-radius: 8px;
  color: $white;
  font-size: 0.625rem;
}

.circle__brand-primary {
  @include circle-color($brand-primary)
}

.circle__brand-secondary {
  @include circle-color($brand-secondary)
}


.label__brand-primary {
  @include label-color($brand-primary)
}

.label__brand-secondary {
  @include label-color($brand-secondary)
}




