@import '../../../assets/styles/colors';
@import '../../../assets/styles/typography';
@import '../../../assets/styles/fonts';

@mixin label-color($color) {
  background-color: $color;
}

@mixin circle-color($color) {
  border: 2px solid $color;
}


.circle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 76px;
  height: 76px;
  border-radius: 50%;

  .image {
    width: 85%;
    height: 85%;
    border-radius: 50%;
  }


}

.label {
  position: absolute;
  top: 2%;
  left: 76%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 110px;
  padding: 0 8px 0 8px;
  height: 30%;
  border-radius: 8px;
  color: $white;
  font-family: $primary-reg;
  font-weight: 600;
  font-size: $level2;
}


.circle__brand-secondary {
  @include circle-color($brand-secondary)
}

.circle__brand-accent {
  @include circle-color($brand-accent)
}

.circle__ui-success {
  @include circle-color($ui-success)
}


.label__brand-accent {
  @include label-color($brand-accent)
}

.label__brand-secondary {
  @include label-color($brand-secondary)
}

.label__ui-success {
  @include label-color($ui-success)
}




