@import '../../../assets/styles/colors';
@import '../../../assets/styles/fonts';
@import '../../../assets/styles/mixins';
@import '../../../assets/styles/typography';


.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  max-width: 1140px;
  margin: 0 auto;
  box-sizing: content-box;


  @include media(m-device) {
    flex-direction: column;
    justify-content: space-around;
    padding: 24px 24px 24px 24px;
    max-width: 100vw;
    box-sizing: content-box;


  }

  .icon {
    @include media(m-device) {
      display: none;
    }

    &__torus {
      position: absolute;
      left: -6%;
      top: 170px;
      width: 45px;
    }

    &__wallet_left {
      position: absolute;
      left: 20%;
      bottom: 22%;
      width: 42px;
    }

    &__wallet_right {
      position: absolute;
      right: 2.7%;
      top: 13%;
      width: 38px;
    }

    &__sphere {
      position: absolute;
      right: 2.4%;
      bottom: 13%;
      width: 24px;
    }
  }


  .title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    max-width: 100vw;
    @include media(m-device) {
      padding: 24px;
    }


    &__inline {
      & > h1 {
        display: inline;
      }

      &__primary {
        color: $brand-primary;

      }
    }


    &__text {
      margin-top: 20px;
      width: 488px;
      @include media(m-device) {
        max-width: 100%;
      }
    }

  }


  .right {
    padding: 24px;
  }


}





