@import '../../../assets/styles/colors';
@import '../../../assets/styles/fonts';
@import '../../../assets/styles/mixins';
@import '../../../assets/styles/typography';

%shared-select {
  z-index: 99;
  position: relative;
  width: 438px;
  padding: 0;
  background-repeat: no-repeat;
  background-position: right 20px top 22px;
  font-family: $primary-SemiBold;
  color: $ui-primary;
  font-size: $level3;
  line-height: 1.5;
  cursor: pointer;
  @include border-radius(8px);
  @include transition;

  @include media(m-device) {
    width: 264px;
  }

}


.select {

  @extend %shared-select;

  &__arrow {

    &_closed {
      position: absolute;
      top: 20px;
      right: 20px;
    }

    &_open {
      position: absolute;
      top: 20px;
      right: 20px;
    }

  }

  &__placeholder {
    display: flex;
    align-items: center;
    height: 60px;
    padding-left: 20px;
  }

  &__control {
    width: 438px;
    height: 60px;
    background-color: white;
    border: 2px solid $ui-tertiary;
    @include border-radius(8px);
    @include transition;

    @include media(m-device) {
      width: 100%;
    }

    &:hover {
      border: 2px solid $ui-secondary;
    }

    &__is_open {
      background-color: $brand-primary;
      color: white;
    }
  }

  &__menu {
    position: absolute;
    width: 100%;
    margin-top: 20px;
    padding: 8px;
    background-color: $background-1;
    box-shadow: 4px 6px 40px 0 rgba(0, 0, 0, 0.1);
    max-height: 270px;
    overflow-y: auto;
    cursor: pointer;
    @include border-radius(8px);

    @include media(m-device) {
      width: 100%;
    }

    &::-webkit-scrollbar-thumb {
      @include border-radius(8px);
      background-color: $ui-tertiary;
    }

    &::-webkit-scrollbar {
      width: 8px;
      margin-right: 5px;
    }
  }


}

:global {


  .Dropdown-option {
    padding: 15px;
    @include transition;
    @include border-radius(8px);


    &:hover {
      background-color: $ui-quaternary;
    }

    &.is-selected {
      background-color: $brand-primary;
      color: $white;

      &:hover {
        background-color: lighten($color: $brand-primary, $amount: 10%);
      }
    }

  }

}