@import '../../../../assets/styles/colors';
@import '../../../../assets/styles/fonts';
@import '../../../../assets/styles/typography';
@import '../../../../assets/styles/mixins';

.toast {
  z-index: 200;
  width: 360px;
  height: 56px;
  padding: 16px;
  border-radius: 4px;

  :global(.react-toast-notifications__toast__icon-wrapper) {
    display: none;
  }


  :global(.react-toast-notifications__toast__content) {
    display: flex !important;
    align-items: center !important;
    min-height: auto !important;
    margin: 0 0 0 8px !important;
    font-family: $primary-reg !important;
    font-size: $level2 !important;
  }

  &__success {
    color: $ui-success !important;
    background-color: $ui-success-lighten !important;
  }

  &__error {
    color: $ui-error !important;
    background-color: $ui-error-lighten !important;
  }

  &__warning {
  }

  &__info {
  }

  &__close_button {
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: none;
    cursor: pointer;
    outline: none;
    background: $ui-transparent;
    right: 10px;
    top: 10px;
    font-size: 28px;
    line-height: 13px;

    img {
      width: 15px;
      height: 15px;
    }

    &:hover,
    &:focus {
      outline: none;
    }
  }
}
