@import '../../../../assets/styles/colors';
@import '../../../../assets/styles/fonts';
@import '../../../../assets/styles/mixins';
@import '../../../../assets/styles/typography';

.wrapper {
  position: relative;
}

%shared-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 202px;
  width: 100%;
}

@include render-background-color;

.card {
  overflow: hidden;
  position: relative;
  display: flex;
  width: 360px;
  height: 286px;
  @include border-radius(8px);
  box-shadow: 12px 12px 48px 0 rgba(163, 175, 194, 0.18);
  border: solid 1px rgba(163, 175, 194, 0.24);

  &__inactive {
    opacity: 0.5;
    filter: grayscale(80%) blur(1px);
  }


  &__header {
    @extend %shared-header;

    &__img {
      max-width: 80%;
    }

    &__more {
      position: absolute;
      top: 24px;
      right: 24px;
      width: 32px;
      height: 32px;
      cursor: pointer;
      border-radius: 4px;
      background-position: center;
      background-repeat: no-repeat;
      visibility: hidden;


      &__visible {
        background-color: rgba(0, 0, 0, 0.2);
        visibility: visible;


        &:hover {
          @include transition;
          background-color: rgba(0, 0, 0, 0.4);
        }
      }

    }
  }


  &__footer {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 84px;
    width: 360px;
    padding: 16px;
    background-color: $white;


    & > h5 {
      color: $ui-primary;
    }


    &__eye {
      position: absolute;
      bottom: 18px;
      right: 18px;
      width: 48px;
      height: 48px;
      border-radius: 8px;
      border: solid 2px $ui-quaternary;
      cursor: pointer;
      @include transition;

      &:hover {
        background-color: $ui-primary;
      }

      & > img {
        position: absolute;
        top: 10px;
        left: 10px;
      }

    }
  }


}


