@import '../../assets/styles/colors';
@import '../../assets/styles/fonts';


.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 150px 0 150px;
  color: black;
  background-color: $background-2;


  ul {
    font-family: $primary-reg;
    padding: 50px;

    li {
      padding: 5px
    }

  }
}
