@import '../../../assets/styles/colors';
@import '../../../assets/styles/fonts';
@import '../../../assets/styles/mixins';
@import '../../../assets/styles/typography';

.container {
  height: 130vh;

}

.leftBall {
  z-index: 24;
  position: absolute;
  display: block;
  width: 200px;
  left: 10%;
  bottom: 5%;
  @include media(s-device) {
    width: 100px;
    bottom: 0;
    top: 260vh
  }


}


.middleBall {
  z-index: 25;
  position: absolute;
  display: block;
  width: 250px;
  left: 18%;
  bottom: 230%;
  @include media(s-device) {
    width: 113px;
    left: 25%;
    bottom: 0;
    top: 270vh
  }
}


.rightBall {
  z-index: 24;
  position: absolute;
  display: block;
  width: 200px;
  left: 28%;
  bottom: 90%;
  @include media(s-device) {
    width: 100px;
    left: 45%;
    bottom: 0;
    top: 265vh
  }
}

.txt {
  position: relative;
  left: 50%;
  top: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: fit-content;
  font-size: 32px;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  color: $odvp-strawberry;
  @include media(s-device) {
    font-size: 16px;
  }

  &__bold {
    font-family: $odvp-primary-bold;

  }
}


.star1 {
  margin-top: 10%;
  position: absolute;
  left: 25%
}

.star2 {
  margin-top: 20%;

  position: absolute;
  left: 60%
}

.star3 {
  margin-top: 22%;
  position: absolute;
  left: 62%
}

.star4 {
  margin-top: 50%;
  position: absolute;
  left: 18%
}
