@import '../../../assets/styles/colors';
@import '../../../assets/styles/fonts';
@import '../../../assets/styles/mixins';
@import '../../../assets/styles/typography';


.scene {
  position: relative;
  z-index: 51;
  height: 100vh;
  background-image: url("/icons/odvp/christmas_scene_balls.svg");
  background-size: 1165px 800px;
  background-repeat: no-repeat;
  background-position: bottom -70px right -220px;
  @media screen and (max-height: 625px) {
    background-size: 1165px 650px;
  }

  @include media(s-device) {
    background-size: 500px 500px;
    background-position: bottom -70px right -120px;
  }

  &__text {
    display: flex;
    max-width: 1000px;
    width: 80%;
    height: 192px;
    padding: 15% 0 0 10%;
    font-size: 32px;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    color: $odvp-strawberry;
    @include media(s-device) {
      position: absolute;
      bottom: 350px;
      max-width: 100%;
      font-size: 16px;
      & > p {
        line-height: 2;
      }
    }

    &__bold {
      font-family: $odvp-primary-bold;
    }

  }

  &__cat {
    position: absolute;
    bottom: 75px;
    right: 600px;
    @media screen and (max-height: 625px) {
      bottom: 45px;
      right: 540px;

    }


    @include media(s-device) {
      transform: scale(0.5);
      right: 200px;
      bottom: -20px;
    }
  }


}



