@import '../../../assets/styles/colors';
@import '../../../assets/styles/fonts';
@import '../../../assets/styles/mixins';
@import '../../../assets/styles/typography';

.container {
  position: relative;
  z-index: 50;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("/icons/odvp/Background/BG - pattern 100x100.png");
}


.title {
  display: flex;
  align-items: center;
  height: 200px;
  white-space: nowrap;
  margin: 70px 20% 70px 0;
  @include media(s-device) {
    height: 64px;
    margin: 32px 0 32px 0;
    animation: slide-right 60s linear infinite;

  }

  & > h1 {
    font-family: $odvp-secondary-reg;
    color: $odvp-very-light-pink;
    font-size: 246px;
    line-height: 0.39;
    @include media(s-device) {
      font-size: 80px;
    }
  }

}

@keyframes slide-right {
  0% {
    -webkit-transform: translateX(-100vw);
    transform: translateX(-100vw);
  }
  100% {
    -webkit-transform: translateX(500vw);
    transform: translateX(500vw);
  }
}


.content {
  text-align: center;
  height: 100vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  @include media(s-device) {
    width: 100vw;
    height: auto;
  }


  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: $odvp-primary-reg;
    color: $odvp-very-light-pink;
    font-size: 32px;
    line-height: 2;
    @include media(s-device) {
      font-size: 16px;
    }

    &__mean {
      margin-left: 10px;
    }

    &__bold {
      font-family: $odvp-primary-bold;
    }

  }


  &__stars {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    @include media(s-device) {
      width: 100vw;
      margin-bottom: 85px;
    }

    &__icon {
      transform: scale(0.3);
    }

    &__txt {
      font-family: $odvp-primary-bold;
      @include media(s-device) {
        font-size: 14px;
        white-space: nowrap;
      }


    }
  }

}


@keyframes strike {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.strike {
  position: relative;
}

.strike::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 5px;
  background: $odvp-very-light-pink;
  animation-name: strike;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
  @include media(s-device) {
    height: 6px;
    top: calc(50% - 3px);

  }

}

.lottie {
  height: 127px;

  @include media(s-device) {
    transform: scale(0.7);
  }
}







