@import '../../../../assets/styles/colors';
@import '../../../../assets/styles/fonts';
@import '../../../../assets/styles/mixins';
@import '../../../../assets/styles/typography';


%arrow_shared {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-right: auto;
  right: 3%;
  @include transition;
}


.select {
  position: relative;
  z-index: 9;
  width: 200px;
  padding: 0;
  background-repeat: no-repeat;
  background-position: right 20px top 22px;
  font-family: $primary-SemiBold;
  color: $txt-primary;
  font-size: $level2;
  cursor: pointer;
  @include border-radius(8px);
  @include transition;

  @include media(m-device) {
    width: 90vw;
  }

  &__arrow {

    &_closed {
      @extend %arrow_shared;
    }

    &_open {
      @extend %arrow_shared;
      transform: rotateZ(180deg);
    }

  }

  &__placeholder {
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 20px;

    &__position {
      margin-left: 25px;
    }
  }

  &__control {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 48px;
    background-color: white;
    border: 2px solid $ui-quaternary;
    @include border-radius(6px);
    @include transition;

    @include media(m-device) {
      width: 100%;
      height: 38px;
    }

    &:hover {
      border: 2px solid $ui-tertiary;
    }

    &__is_open {
      background-color: $ui-quaternary;
      color: $txt-primary;

    }
  }

  &__menu {
    z-index: 99;
    position: absolute;
    width: 200px;
    margin-top: 20px;
    padding: 8px;
    background-color: $background-1;
    box-shadow: 4px 6px 40px 0 rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    cursor: pointer;
    @include border-radius(6px);
    @include transition;


    & > div {
      display: flex;
      align-items: center;
      width: 100%;
      height: 48px;
      padding-left: 12px;
      color: $txt-primary;
      @include transition;
      @include border-radius(6px);

      &:hover {
        background-color: $ui-quaternary;
        color: $txt-primary;

      }

    }

    @include media(m-device) {
      width: 100%;
    }

    &::-webkit-scrollbar-thumb {
      @include border-radius(6px);
      background-color: $ui-tertiary;
    }

    &::-webkit-scrollbar {
      width: 8px;
      margin-right: 5px;
    }
  }


}

.wrapper {
  position: relative;
}

.left__icon {
  z-index: 99;
  position: absolute;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  left: 12px;
  width: 24px;
}


