@import '../../../../assets/styles/colors';
@import '../../../../assets/styles/mixins';
@import '../../../../assets/styles/typography';
@import '../../../../assets/styles/fonts';

.side {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 255px;
  height: 400px;
  padding: 32px 20px 32px 20px;
  border-radius: 12px;
  box-shadow: 12px 12px 48px 0 $box-shadow;
  border: solid 2px $ui-quaternary;
  background-color: $white;

  &__nav {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;


    &__tag {
      font-family: $primary-medium;
      font-size: 18px;
      font-weight: 500;
      line-height: 1.33;
      color: $ui-secondary;
      cursor: pointer;
      margin: 0 0 20px 0;

      &__active {
        color: $brand-primary;
      }

      &__switch {
        position: absolute;
        bottom: 20px;
        right: 0;
      }


    }
  }


  &__btn {
    position: relative;
    margin-top: 30px;

    &:before {
      content: '';
      position: absolute;
      top: -20px;
      width: 191px;
      height: 1px;
      background-color: $ui-quaternary;
    }
  }

  .warning {
    font-family: $primary-medium;
    line-height: 1.33;
    color: $ui-secondary;
    font-size: 14px;
    text-align: center;
  }
}


