@import '../../../../assets/styles/colors';
@import '../../../../assets/styles/fonts';
@import '../../../../assets/styles/mixins';


.partnerDetailsPageWrapper {
  max-width: 100vw;
  overflow: hidden;
  align-items: center;
  background-color: #fafafa;;
  margin: 0 auto;
}

