@import '../../../../assets/styles/colors';
@import '../../../../assets/styles/fonts';
@import '../../../../assets/styles/mixins';


.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 263px;
  width: 100%;
  margin-bottom: 96px;

  &:after {
    position: absolute;
    content: '';
    border-bottom: 1px solid $background-2;
    bottom: 0;
    width: 100%;

  }
}