@import '../../../../assets/styles/colors';
@import '../../../../assets/styles/mixins';
@import '../../../../assets/styles/typography';
@import '../../../../assets/styles/fonts';


.partners {
  padding: 0 150px 0 150px;

  & > h3 {
    color: $ui-primary;
    margin: 32px 0 32px 0;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 360px);
    grid-gap: 30px;
    margin: 0 auto 80px auto;


  }
}

.customSuspendButton {
  background-color: $ui-error-lighten !important;

  &:hover {
    color: $ui-error !important;
    background-color: $ui-error-lighten !important;
  }
}

.customActiveButton {
  background-color: $ui-success-lighten !important;

  &:hover {
    color: $ui-success !important;
    background-color: $ui-success-lighten !important;
  }
}