@import '../../../assets/styles/colors';


.nav {
  z-index: 100;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 80px;
  padding: 20px 150px 20px 150px;
  background-color: $odvp-background;
  transition: top 0.4s;

  &--hidden {
    top: -80px;
  }
}

