@import '../../../../../assets/styles/colors';
@import '../../../../../assets/styles/mixins';
@import '../../../../../assets/styles/typography';
@import '../../../../../assets/styles/fonts';

%shared-arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  z-index: 99;
  width: 48px;
  height: 48px;
  padding: 12px;
  border-radius: 8px;
  background-color: $ui-primary;
  cursor: pointer;
  @include hide-on-m-device;
}

.slider {
  display: flex;
  position: relative;
  width: 80vw;
  height: 420px;;
  max-width: 1140px;

  @include media(s-device) {
    width: 90vw;
  }


  &__prev_arrow {
    @extend %shared-arrow;
    left: -7%;

  }

  &__next_arrow {
    @extend %shared-arrow;
    right: -7%;
  }
}


.card {
  display: flex !important;
  width: 80vw;
  max-width: 1140px;
  height: 420px;
  padding: 32px;
  border-radius: 8px;
  box-shadow: 12px 12px 48px 0 $box-shadow;
  border: solid 2px $ui-quaternary;
  background-color: $white;

  @include media(m-device) {
    flex-direction: column;
    padding: 16px;
    height: 480px;


  }


  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    margin-right: 16px;
    background-size: cover;
    border-radius: 8px;
    @include media(m-device) {
      width: 100%;
      margin: 0 0 4px;

    }


  }

  &__txt {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    height: 100%;
    margin-left: 16px;
    @include media(m-device) {
      width: 100%;
      margin: 4px 0 0 0;

    }

    & > h4 {
      color: $txt-primary
    }

    &__category {
      margin: 4px 0 16px 0;
    }
  }

}