@import '../../../../../assets/styles/colors';
@import '../../../../../assets/styles/mixins';
@import '../../../../../assets/styles/typography';
@import '../../../../../assets/styles/fonts';

.wrapper {
  position: relative;
  margin: 0 auto;
  width: 100vw;
}


.favorites {

  &__header {
    width: 100vw;
    margin: 0 auto;
    @include media(m-device) {
      width: 90vw;
    }
  }


  &__card {
    width: 80%;
    margin: 0 auto;


    & > h3 {
      color: $txt-primary;
      margin-bottom: 32px;
      @include media(m-device) {
        margin-bottom: 24px;
      }
    }

    &__grid {
      display: grid;
      justify-content: center;
      grid-template-columns: repeat(auto-fit, 360px);
      grid-gap: 30px;
      margin: 0 auto 80px auto;
      @include media(m-device) {
        grid-template-columns: repeat(auto-fit, 90vw);

      }
    }

  }

}



