@import '../../../assets/styles/colors';
@import '../../../assets/styles/fonts';
@import '../../../assets/styles/mixins';
@import '../../../assets/styles/typography';


.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 152px;
  height: 48px;
  background-color: $brand-primary;
  border: none;
  @include border-radius(24px);
  font-family: $primary-SemiBold;
  font-size: $level3;
  color: $white;
  cursor: pointer;
  outline: none;
  @include transition;


  &:active {
    background-color: darken($color: $brand-primary, $amount: 10%);
  }

  &:disabled {
    background-color: $ui-transparent;
    color: $ui-secondary;
    cursor: default;
  }
}



