@import '../../../../assets/styles/colors';
@import '../../../../assets/styles/fonts';
@import '../../../../assets/styles/mixins';
@import '../../../../assets/styles/typography';


.popup {
  position: absolute;
  top: 18px;
  right: 18px;
  width: 239px;
  height: 92px;
  padding: 8px;
  border-radius: 8px;
  box-shadow: 12px 12px 48px 0 $box-shadow;
  border: solid 2px $ui-quaternary;
  background-color: $white;
  visibility: hidden;
  opacity: 0;
  @include transition;
  cursor: pointer;

  &__open {
    visibility: visible;
    opacity: 1;

  }
}

.cta {
  display: flex;
  align-items: center;
  height: 38px;
  border-radius: 6px;
  font-family: $primary-medium;
  font-size: 14px;
  color: $ui-primary;
  @include transition;

  &__edit {
    &:hover {
      background-color: $ui-quaternary;
    }
  }

  &__success {

    &:hover {
      color: $ui-success;
      background-color: rgba(43, 226, 131, 0.3);
    }
  }

  &__error {

    &:hover {
      color: $ui-error;
      background-color: rgba(251, 40, 56, 0.3);
    }
  }


  & > img {
    margin: 0 4px 0 10px;
  }

}

