@import '../../../../assets/styles/colors';
@import '../../../../assets/styles/mixins';
@import '../../../../assets/styles/typography';
@import '../../../../assets/styles/fonts';

.card {
  display: flex;
  flex-direction: column;
  width: 360px;
  height: 230px;
  padding: 32px;
  border-radius: 8px;
  box-shadow: 12px 12px 48px 0 $box-shadow;
  border: solid 2px $ui-quaternary;
  background-color: $white;

  &__header {

    display: flex;
    justify-content: flex-start;
    margin-bottom: 54px;

    & > img {
      width: 48px;
      height: 48px;
      margin-left: 16px;
    }
  }


}