@import '../../../../../assets/styles/colors';
@import '../../../../../assets/styles/fonts';
@import '../../../../../assets/styles/mixins';
@import '../../../../../assets/styles/typography';

.article {
  position: relative;
  display: flex;
  flex-direction: column;

  > h4 {
    margin-bottom: 16px;
    color: $txt-primary;

  }

  > p {
    font-size: $level4;
    font-family: $primary-reg;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: $txt-primary;
    @include media(m-device) {
      font-size: $level2;
    }
  }


  &:after {
    position: absolute;
    width: 100%;
    content: '';
    border-bottom: 1px solid $background-2;
    bottom: -56px;
  }

  margin-bottom: 113px;


}

