$white-color: #ffffff;
$black-color: #000000;
$primary-color: #e22b76;
$primary-color1: #4a465d;
$secondary-color: #8F48FF;
$secondary-color1: #8900FF;
$yellow-color: #FFA100;
$lightpink-color: #EC00FF;
$darkpink-color: #E314A9;
$darkpink-color1: #E27C17;
$pink-color1: #be24ff;
$pink-color2: #E82868;
$pink-color3: #E406FF;
$light-blue1: #001EFF;
$light-blue: #07BBD3;
$title-color: #49465D;
$title-color1: #707070;
$title-color2: #939393;
$text-color: #606060;
$text-color1: #A0A0A0;
$light-gray: #E4E4E4;
$light-gray1: #FAFAFA;
$light-gray2: #E8E8E8;
$light-gray3: #F8F8F8;
$light-gray4: #D1D1D1;
$light-gray5: #dfdfdf;
$gray-color: #C4C4C4;
$purple-color: #8f47ff;
$purple-color1: #828097;
$bdr-color: #C6C6C6;
$bdr-color1: #E7E7E7;
$red-color: #FD3030;



