$white: #ffffff;
$black: #000000;
$orange: #ff6900;

$brand-primary: #E22B76;
$brand-secondary: #00A5E2;
$brand-accent: #FAC700;
$brand-primary-muted: #FCE9F1;
$brand-secondary-muted: #E0F5FF;

$ui-primary: #111e3d;
$ui-secondary: #A3AFC2;
$ui-tertiary: #E1E5EB;
$ui-quaternary: #EFF4FA;
$ui-success: #2BE283;
$ui-success-lighten: #D4F9E6;
$ui-error: #fb2838;
$ui-error-lighten: #FED4D7;
$ui-warning: #EB853D;
$ui-warning-lighten: #FED4D7;
$ui-transparent: #FFFFFF;

$txt-primary: #232e69;
$txt-secondary: #a3afc2;
$txt-disabled: #9c9c9c;


$background-1: #FFFFFF;
$background-2: #f0f4fa;
$background-light-grey: #f2f7fc;

$box-shadow: rgba(163, 175, 194, 0.18);

$odvp-strawberry: #EB3B41;
$odvp-background: #ffefe6;
$odvp-greyish-brown: #3d3937;
$odvp-very-light-pink: #ffefe6;









