$primary-reg: 'Poppins-Regular', sans-serif;
$primary-reg-i: 'Poppins-Italic', sans-serif;
$primary-bold: 'Poppins-Bold', sans-serif;
$primary-bold-i: 'Poppins-BoldItalic', sans-serif;
$primary-medium: 'Poppins-Medium', sans-serif;
$primary-medium-i: 'Poppins-MediumItalic', sans-serif;
$primary-SemiBold: 'Poppins-SemiBold', sans-serif;
$primary-SemiBold-i: 'Poppins-SemiBoldItalic', sans-serif;
$odvp-primary-reg: 'Montserrat-Regular', sans-serif;
$odvp-primary-bold: 'Montserrat-Bold', sans-serif;
$odvp-secondary-reg: 'Poplar-Standart', sans-serif;

@font-face {
  font-family: 'Montserrat-Regular';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'Montserrat-Bold';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/Montserrat-Bold.ttf');
}

@font-face {
  font-family: 'Poplar-Standart';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/Poplar-Standart.otf');
}


@font-face {
  font-family: 'Poppins-Regular';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/Poppins-regular.woff2');
}

@font-face {
  font-family: 'Poppins-Italic';
  font-style: italic;
  font-weight: normal;
  src: url('/fonts/Poppins-Italic.woff2');
}

@font-face {
  font-family: 'Poppins-Bold';
  font-style: normal;
  font-weight: bold;
  src: url('/fonts/Poppins-Bold.woff2');
}

@font-face {
  font-family: 'Poppins-BoldItalic';
  font-style: italic;
  font-weight: bold;
  src: url('/fonts/Poppins-BoldItalic.woff2');
}

@font-face {
  font-family: 'Poppins-Medium';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/Poppins-Medium.woff2');
}

@font-face {
  font-family: 'Poppins-MediumItalic';
  font-style: italic;
  font-weight: 500;
  src: url('/fonts/Poppins-MediumItalic.woff2');
}

@font-face {
  font-family: 'Poppins-SemiBold';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/Poppins-SemiBold.woff2');
}

@font-face {
  font-family: 'Poppins-SemiBoldItalic';
  font-style: italic;
  font-weight: 600;
  src: url('/fonts/Poppins-SemiBoldItalic.woff2');
}
