@mixin media($size) {
  @if $size == xs-device {
    @media (max-width: 340px) {
      @content;
    }
  } @else if $size == s-device {
    @media (max-width: 600px) {
      @content;
    }
  } @else if $size == m-device {
    @media (max-width: 874px) {
      @content;
    }
  } @else if $size == l-device {
    @media (min-width: 875px) {
      @content;
    }
  } @else if $size == xl-device {
    @media (min-width: 1200px) {
      @content;
    }
  } @else if $size == ie {
    @media only screen and (min-width: 0 \0
    ) {
      @content
    }
  }
}

@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
}

@mixin transition {
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
}

@mixin transform($value1, $value2) {
  transform: translate($value1, $value2);
  -webkit-transform: translate($value1, $value2);
  -moz-transform: translate($value1, $value2);
  -ms-transform: translate($value1, $value2);
}


@mixin render-background-color {
  $colors: "brand-primary" #E22B76,
  "brand-secondary" #00A5E2,
  "brand-accent" #FAC700,
  "brand-primary-muted" #FCE9F1,
  "brand-secondary-muted" #E0F5FF,
  "ui-primary" #111E3D,
  "ui-secondary" #A3AFC2,
  "ui-tertiary" #E1E5EB,
  "ui-quaternary" #EFF4FA,
  "ui-success" #2BE283;


  @each $i in $colors {
    .#{nth($i, 1)} {
      background: nth($i, 2);
    }
  }
}

@mixin render-color {
  $colors: "brand-primary" #E22B76,
  "brand-secondary" #00A5E2,
  "brand-accent" #FAC700,
  "brand-primary-muted" #FCE9F1,
  "brand-secondary-muted" #E0F5FF,
  "ui-primary" #111E3D,
  "ui-secondary" #A3AFC2,
  "ui-tertiary" #E1E5EB,
  "ui-quaternary" #EFF4FA,
  "ui-success" #2BE283,
  "ui-error" #EB853D;


  @each $i in $colors {
    .#{nth($i, 1)} {
      color: nth($i, 2);
    }
  }
}


