@import '../../../../assets/styles/colors';
@import '../../../../assets/styles/fonts';
@import '../../../../assets/styles/mixins';
@import '../../../../assets/styles/typography';


.heading {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__subtitle {
    font-family: $primary-SemiBold;
    font-size: $level4;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.78;
    letter-spacing: normal;
    text-align: center;
    color: $orange;

    @include media(m-device) {
      font-size: $level2;
    }
  }


  & > h3 {
    color: $txt-primary;
    text-align: center;
    max-width: 800px;
    line-height: 1.14;
  }

  & > p {
    margin-top: 8px;
    text-align: center;
    max-width: 750px;
    line-height: 1.78;
  }

}


