@import '../../../assets/styles/colors';
@import '../../../assets/styles/fonts';
@import '../../../assets/styles/mixins';

.wrapper{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    width: 100%;
}

.label{
    font-family: $primary-reg;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: normal;
    color: $ui-primary;
    padding-bottom: 5px;
}



.input{
    height: 48px;
    border: 2px solid $ui-tertiary;
    @include border-radius(4px);
    padding: 12px 16px;
    box-sizing: border-box;
    color: $ui-primary;
    font-size: 16px;
    outline: none;
    width: 100%;
    &:hover{
        border-color:$ui-secondary;
    }
    &:focus{
        border-color: $ui-secondary;
    }
    &::placeholder{
        font-size: 16px;
        color: $ui-tertiary;
    }
    &__iconright{

        padding: 12px 25px 12px 16px;
    }
    &__iconLeft{

        padding: 12px 16px 12px 35px;
    }
    &__valid{
        border-color: $ui-success !important;
    
    }
    &__error{
        border-color: $ui-error !important;
    }

    &__custom1{

        background-color: $ui-quaternary;
        border-color: $ui-quaternary;
        &::placeholder{
            color: $ui-secondary;
        }
        &:hover{
            border-color: $ui-tertiary
        }
        &:focus{
            background-color: white;
            border-color: $ui-tertiary;
        }
    }

    &__wrapper{
        position: relative;
    }
    &__icon{
        position: absolute;
        top: 12px;
        bottom: 12px;
       
        &__left{
            left: 5px;
        }
        &__right{
            right: 5px;
        }
    
    }




}