@import '../../../assets/styles/colors';
@import '../../../assets/styles/typography';
@import '../../../assets/styles/fonts';
@import '../../../assets/styles/mixins';

@include render-background-color;

.label {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 140px;
  width: fit-content;
  padding: 0 8px 0 8px;
  height: 36px;
  color: $white;
  font-family: $primary-reg;
  font-weight: 600;
  font-size: $level2;
  @include border-radius(40px);
}







