@import '../../../../assets/styles/colors';
@import '../../../../assets/styles/mixins';
@import '../../../../assets/styles/typography';
@import '../../../../assets/styles/fonts';


.input {

  &__btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 48px;
    padding: 12px 24px;
    border: none;
    @include border-radius(6px);
    font-family: $primary-SemiBold;
    font-size: $level3;
    color: $white;
    cursor: pointer;
    outline: none;
    margin: 0;
    @include transition;
    background-color: $brand-primary;

    &:hover {
      background-color: lighten($color: $brand-primary, $amount: 10%);
    }

    &:active {
      background-color: darken($color: $brand-primary, $amount: 10%);
    }

    &:disabled {
      background-color: lighten($color: $brand-primary, $amount: 15%);
    }

  }

  &__label {
    font-family: $primary-reg;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: normal;
    color: $ui-primary;
    padding-bottom: 5px;
  }

  &__format {
    margin-bottom: 23px;
    font-family: $primary-reg;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: $ui-secondary;
  }

  &__file {
    width: 100%;
    max-width: 380px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__hidden {
    position: absolute;
    bottom: 30px;
    right: 0;
    width: 50%;
    visibility: hidden;
  }
}







