@import '../../../assets/styles/colors';
@import '../../../assets/styles/fonts';
@import '../../../assets/styles/mixins';
@import '../../../assets/styles/typography';


.banner {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 80vw;
  max-width: 1140px;
  margin: 96px auto 0 auto;
  height: 243px;
  padding: 48px 96px;
  background-image: url("/front-static/images/footer/hand-shake.png");
  background-repeat: no-repeat;
  background-position: top -80px right -80px;

  background-color: $ui-primary;
  @include border-radius(12px);
  @include media(m-device) {
    width: 90vw;
    align-items: center;
    justify-content: flex-end;
    height: 414px;
    margin: 64px auto 0 auto;

    padding: 24px;
    background-position: top -10px center;
    background-size: 100%;
  }


  > h4 {
    color: $white;
    margin-bottom: 8px;
    @include media(m-device) {
      text-align: center;
    }
  }

  > p {
    max-width: 640px;

    @include media(m-device) {
      text-align: center;
    }
  }

  &__cta {
    width: 220px;
    @include media(m-device) {
      width: 80vw;
    }
  }

}


